@import url();
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-um: #e42e2e;
    --cor-um: #8a2525;
    --cor-um: #411919;
    --cor-um: #e08f8f;
    --cor-um: #eecfcf;
    --texto-corpo: "raleway", sans-serif;
    --texto-titulo: "sedan sc", srif;
}
body{
    background:#e08f8f;
    color: #411919;
    font-family: var(--texto-corpo);
}
.titulo-principal {
    font-family: var(--texto-titulo);
}
.cabecalho{
    background-color: var(--cor-um);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}
.cabecalho-nav__link{
text-decoration: none;
font-family: var(--texto-titulo);
fonte-size: 24px;
color: var(--cor-um);
margin-right: 24px;
}